.vs
FamoNET/bin
FamoNET/obj
FamoNET/Data
FamoNET/wwwroot/canvas
FamoNET/appsettings.json

FamoNET.Scripts/.vscode/
FamoNET.Scripts/node_modules/
FamoNET.Scripts/obj/
FamoNET.Scripts/out/

FamoNET.Database/bin
FamoNET.Database/obj
FamoNET/Properties/PublishProfiles/
