<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevCommunication</title>
</head>
<body>
    <form method="GET">
        IP <input type="text" name="ip"> <br>
        PORT <input type="number" name="port"> <br>
        <br>
        mess<input type="text" name="mes"> <input type="submit" value="send"> <br>
    </form>
    <p>Answer:</p>
    <p>{{ ans }}</p>
</body>
</html>