<EditForm Model="this" OnSubmit="HandleValidSubmit" FormName="PythonConsoleForm">
    <textarea id="pythonConsole" name="pythonConsole" rows="4" cols="50" @bind="Cmd" required></textarea>
    <button type="submit" class="btn btn-primary">Execute</button>
</EditForm>

