<EditForm Model="this" OnSubmit="HandleValidSubmit" FormName="PythonConsoleForm">
    <div class="row">
        <h2>Command console</h2>
        <div class="d-flex flex-column align-items-center">
            <textarea id="pythonConsole" name="pythonConsole" rows="10" cols="200" @bind="Cmd" required></textarea>
            <button type="submit" class="btn btn-primary my-2">Execute</button>
        </div>
    </div>    
</EditForm>

