<!DOCTYPE html>
<html>
<head>
    <meta charser="UTF-8">
    <title>Sr apps</title>
</head>

<body>
    <h1>Sr apps</h1>
    
    <!-- <p><a href="http://192.168.3.212:5000/wm"> Wavemeter WS6 (not working) </a></p> -->
    <p><a href="http://158.75.4.119/cgi-bin/nagios4/status.cgi"> Nagios </a></p>
    <p><a href="{% url 'device_list' %}"> List of devices </a></p>
    <p><a href="{% url 'telnet' %}"> Devices communication </a></p>
    <p><a href="{% url 'lock689' %}"> Lock 689</a></p>
    <p><a href="{% url 'setdds' %}"> Set dds </a></p>
    <p><a href="{% url 'sidebands' %}"> Sidebands fit </a></p>
    <p><a href="{% url 'anda' %}"> Anda (data from database)</a></p>
    <p><a href="{% url 'freq_monitor' %}"> Frequency monitor</a></p>
    <p><a href="{% url 'time_converter' %}"> MJD converter</a></p>
    <p><a href="{% url 'freq_monitor' %}"> Frequency monitor</a></p>
    <p><a href="{% url 'labbook' %}"> Labbook</a></p>
    <p><a href="http://192.168.3.58:80"> Front apps</a></p>
    <p><a href="http://192.168.3.58:80/charts"> Charts</a></p>
    <!-- <p><a href='http://192.168.3.204:3333/lab_book'> LabBook - Not ready yet</a></p> -->

    <h2>TODO</h2>
    <p>comb1 readout</p>
</body>

</html> 
