<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Sr Apps</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>

<div class="container">
    <h1>Sr Apps</h1>

    <ul class="link-list">
        <!-- <li><a href="http://192.168.3.212:5000/wm">Wavemeter WS6 (not working)</a></li> -->
        <li><a href="http://158.75.4.119/cgi-bin/nagios4/status.cgi">Nagios</a></li>
        <li><a href="{% url 'element_list' %}">List of devices/elements</a></li>
        <li><a href="{% url 'telnet' %}">Devices communication</a></li>
        <li><a href="{% url 'lock689' %}">Lock 689</a></li>
        <li><a href="{% url 'sidebands' %}">Sidebands fit</a></li>
        <li><a href="{% url 'anda' %}">Anda (data from database)</a></li>
        <li><a href="{% url 'freq_monitor' %}">Frequency monitor</a></li>
        <li><a href="{% url 'time_converter' %}">MJD converter</a></li>
        <li><a href="{% url 'freq_monitor' %}">Frequency monitor</a></li>
        <li><a href="{% url 'labbook' %}">Labbook</a></li>
        <li><a href="http://192.168.3.58:80">Front apps</a></li>
        <li><a href="http://192.168.3.58:80/charts">Charts</a></li>
    </ul>

</div>

</body>
</html>
