<!DOCTYPE html>
<html>
<head>
    <meta charser="UTF-8">
    <title>Sr apps</title>
</head>

<body>
    <h1>Sr apps</h1>
    
    <p><a href='http://192.168.3.212:5000/wm'> Wavemeter WS6 </a></p>
    <p><a href='http://192.168.3.204:3333/lock689'> Lock 689</a></p>
    <p><a href='http://192.168.3.204:3333/telnet'> Devices communication </a></p>
    <p><a href='http://192.168.3.204:3333/setdds'> Set dds </a></p>
    <p><a href='http://192.168.3.204:3333/sidebands'> Sidebands fit </a></p>
    <p><a href='http://192.168.3.204:3333/anda'> Anda (data from database)</a></p>
    <p><a href='http://192.168.3.204:3333/freq_monitor'> Frequency monitor</a></p>
    <p><a href='http://192.168.3.204:3333/time_converter'> MJD converter</a></p>
    <p><a href='http://192.168.3.204:3333/freq_monitor'> Frequency monitor</a></p>
    <p><a href='http://192.168.3.204:3333/lab_book'> LabBook - Not ready yet</a></p>

    <h2>TODO</h2>
    <p>comb1 readout</p>
</body>

</html> 
