<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target xsi:type="File" name="file"
		layout="${longdate} ${logger} ${message}${exception:format=ToString}"
		fileName="${basedir}/logs/${date:format=yyyy-MM-dd}.txt"
		keepFileOpen="true" encoding="utf-8" />

		<target name="debug" xsi:type="Console" layout="${message}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="file" />
		<logger name="*" minlevel="Debug" writeTo="debug" />
	</rules>
</nlog>