<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anda</title>

    {% load static %}

    <!-- Project stylesheet -->
    <link rel="stylesheet" href="{% static 'css/anda2.css' %}">

    <script>
        window.andaData = {
            x_tab: {{ mjd_tab_json|safe }},
            y_tab: {{ val_tab_json|safe }}
        };
        console.log("andaData:", window.andaData);
    </script>

    <!-- Projekt JS scripts -->
    <script src="{% static 'js/anda.js' %}"></script>
    
</head>

<body>
<div class="page-container">

    <form id="main_form" method="get">
        <label for="tables_names_select">Select parameter name: </label>
        <select name="table_name" id="tables_names_select">
            {% for table_name in tables_names %}
                <option value="{{table_name}}"
                        {% if last_table_name == table_name %}selected{% endif %}
                >{{table_name}}</option>
            {% endfor %}
        </select>
        <br>

        <label for="from_mjd">From MJD: </label>
        <input type="number" id="from_mjd" name="from_mjd"
               step="0.0000001"
               ondblclick="this.value=Math.round({{mjd_now}});"
               value="{{last_from_mjd}}">
        <br>

        <label for="to_mjd">To MJD: </label>
        <input type="number" id="to_mjd" name="to_mjd"
               step="0.0000001"
               ondblclick="this.value=Math.round({{mjd_now}});"
               value="{{last_to_mjd}}">

        <br>
        <input type="submit" value="Plot">

        MJD Today: {{mjd_now}}

    </form>


    <canvas id="c"></canvas>

    <script type="module">
        import { CanvasPlot } from "{% static 'lib/tsplot/dist/index.js' %}";

        const canvas = document.getElementById("c");
        const plot = new CanvasPlot(canvas);

        console.log("CanvasPlot instance:", plot);
        window._plot = plot;
    </script>
    

</div>
</body>
</html>
