@* <nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">FamoNET</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">DataBrowser</a>
            </li>
            @* <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
            </li>   
        </ul>
    </div>
</nav> *@

@* <nav class="navbar navbar-expand-lg navbar-light bg-light p-2">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/browser">Data Browser</a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/freqmonitor">Monitor</a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/counter">Counter</a>
            </div>
        </div>
    </div>
</nav> *@

@* <nav class="navbar navbar-light bg-light p-2">
    <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/browser">Data Browser</a>
    </div>
    <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/freqmonitor">Monitor</a>
    </div>    
</nav>
 *@
@* <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">            
            <a class="nav-item nav-link" href="/browser">Data Browser</a>
            <a class="nav-item nav-link" href="/freqmonitor">Monitor</a>            
        </div>
    </div>
</nav> *@

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand mx-4" href="#">FamoNET</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">                
                <a class="nav-link" href="/browser">Data Browser</a>
                <a class="nav-link" href="/freqmonitor">Monitor</a>
                <a class="nav-link" href="/counter">FXMCounter</a>
            </div>
        </div>
    </div>
</nav>