@page "/counter"
@rendermode InteractiveServer



<div class="container">
    <div class="row">
        <div class="col">
            <input type="text" @bind-value="@Filename" />

            @if (!IsSaving)
            {
                <button class="btn btn-primary my-2 mx-2" type="button" @onclick="((e) => StartSaving())">Save to file</button>
            }
            else
            {
                <button class="btn btn-primary my-2 mx-2" type="button" @onclick="((e) => StopSaving())">Stop</button>
            }



            <h1 id="Frequency">No data</h1>
        </div>
        <div class="col">
            <FileManager @ref="FileManagerComponent" />
        </div>
    </div>
    <div class="row">
        <FamoNET.Components.SubComponents.AllanVariance @ref="AllanVarianceComponent" CounterDataService="CounterDataService" />
    </div>
</div>